In [1]:
import polars as pl

In [2]:
data = pl.read_csv("C:/Users/tarlan.jabiyev/Desktop/Sprint 10/gapminder_cleaned.csv")
data = data.rename({"lifeExp": "life_expectancy", "gdpPercap": "gdp"})
data.head()

shape: (5, 6)
┌─────────────┬──────┬─────────────┬───────────┬─────────────────┬────────────┐
│ country     ┆ year ┆ pop         ┆ continent ┆ life_expectancy ┆ gdp        │
│ ---         ┆ ---  ┆ ---         ┆ ---       ┆ ---             ┆ ---        │
│ str         ┆ i64  ┆ f64         ┆ str       ┆ f64             ┆ f64        │
╞═════════════╪══════╪═════════════╪═══════════╪═════════════════╪════════════╡
│ Afghanistan ┆ 1952 ┆ 8.425333e6  ┆ Asia      ┆ 28.801          ┆ 779.445314 │
│ Afghanistan ┆ 1957 ┆ 9.240934e6  ┆ Asia      ┆ 30.332          ┆ 820.85303  │
│ Afghanistan ┆ 1962 ┆ 1.0267083e7 ┆ Asia      ┆ 31.997          ┆ 853.10071  │
│ Afghanistan ┆ 1967 ┆ 1.1537966e7 ┆ Asia      ┆ 34.02           ┆ 836.197138 │
│ Afghanistan ┆ 1972 ┆ 1.307946e7  ┆ Asia      ┆ 36.088          ┆ 739.981106 │
└─────────────┴──────┴─────────────┴───────────┴─────────────────┴────────────┘

## arrange() funksiyası

In [3]:
data.sort("life_expectancy").head()

shape: (5, 6)
┌──────────────┬──────┬────────────┬───────────┬─────────────────┬─────────────┐
│ country      ┆ year ┆ pop        ┆ continent ┆ life_expectancy ┆ gdp         │
│ ---          ┆ ---  ┆ ---        ┆ ---       ┆ ---             ┆ ---         │
│ str          ┆ i64  ┆ f64        ┆ str       ┆ f64             ┆ f64         │
╞══════════════╪══════╪════════════╪═══════════╪═════════════════╪═════════════╡
│ Rwanda       ┆ 1992 ┆ 7.290203e6 ┆ Africa    ┆ 23.599          ┆ 737.068595  │
│ Afghanistan  ┆ 1952 ┆ 8.425333e6 ┆ Asia      ┆ 28.801          ┆ 779.445314  │
│ Gambia       ┆ 1952 ┆ 284320.0   ┆ Africa    ┆ 30.0            ┆ 485.230659  │
│ Angola       ┆ 1952 ┆ 4.232095e6 ┆ Africa    ┆ 30.015          ┆ 3520.610273 │
│ Sierra Leone ┆ 1952 ┆ 2.143249e6 ┆ Africa    ┆ 30.331          ┆ 879.787736  │
└──────────────┴──────┴────────────┴───────────┴─────────────────┴─────────────┘

In [4]:
data.sort("life_expectancy", descending=True).head()

shape: (5, 6)
┌─────────────────┬──────┬──────────────┬───────────┬─────────────────┬─────────────┐
│ country         ┆ year ┆ pop          ┆ continent ┆ life_expectancy ┆ gdp         │
│ ---             ┆ ---  ┆ ---          ┆ ---       ┆ ---             ┆ ---         │
│ str             ┆ i64  ┆ f64          ┆ str       ┆ f64             ┆ f64         │
╞═════════════════╪══════╪══════════════╪═══════════╪═════════════════╪═════════════╡
│ Japan           ┆ 2007 ┆ 1.27467972e8 ┆ Asia      ┆ 82.603          ┆ 31656.06806 │
│ Hong Kong China ┆ 2007 ┆ 6.980412e6   ┆ Asia      ┆ 82.208          ┆ 39724.97867 │
│ Japan           ┆ 2002 ┆ 1.27065841e8 ┆ Asia      ┆ 82.0            ┆ 28604.5919  │
│ Iceland         ┆ 2007 ┆ 301931.0     ┆ Europe    ┆ 81.757          ┆ 36180.78919 │
│ Switzerland     ┆ 2007 ┆ 7.554661e6   ┆ Europe    ┆ 81.701          ┆ 37506.41907 │
└─────────────────┴──────┴──────────────┴───────────┴─────────────────┴─────────────┘

In [5]:
data.sort("continent").head()

shape: (5, 6)
┌─────────┬──────┬─────────────┬───────────┬─────────────────┬─────────────┐
│ country ┆ year ┆ pop         ┆ continent ┆ life_expectancy ┆ gdp         │
│ ---     ┆ ---  ┆ ---         ┆ ---       ┆ ---             ┆ ---         │
│ str     ┆ i64  ┆ f64         ┆ str       ┆ f64             ┆ f64         │
╞═════════╪══════╪═════════════╪═══════════╪═════════════════╪═════════════╡
│ Algeria ┆ 1952 ┆ 9.279525e6  ┆ Africa    ┆ 43.077          ┆ 2449.008185 │
│ Algeria ┆ 1957 ┆ 1.0270856e7 ┆ Africa    ┆ 45.685          ┆ 3013.976023 │
│ Algeria ┆ 1962 ┆ 1.1000948e7 ┆ Africa    ┆ 48.303          ┆ 2550.81688  │
│ Algeria ┆ 1967 ┆ 1.2760499e7 ┆ Africa    ┆ 51.407          ┆ 3246.991771 │
│ Algeria ┆ 1972 ┆ 1.4760787e7 ┆ Africa    ┆ 54.518          ┆ 4182.663766 │
└─────────┴──────┴─────────────┴───────────┴─────────────────┴─────────────┘

In [6]:
data.sort(
    by=["continent", "life_expectancy"],
    descending=[False, True]
).head()

shape: (5, 6)
┌─────────┬──────┬─────────────┬───────────┬─────────────────┬─────────────┐
│ country ┆ year ┆ pop         ┆ continent ┆ life_expectancy ┆ gdp         │
│ ---     ┆ ---  ┆ ---         ┆ ---       ┆ ---             ┆ ---         │
│ str     ┆ i64  ┆ f64         ┆ str       ┆ f64             ┆ f64         │
╞═════════╪══════╪═════════════╪═══════════╪═════════════════╪═════════════╡
│ Reunion ┆ 2007 ┆ 798094.0    ┆ Africa    ┆ 76.442          ┆ 7670.122558 │
│ Reunion ┆ 2002 ┆ 743981.0    ┆ Africa    ┆ 75.744          ┆ 6316.1652   │
│ Reunion ┆ 1997 ┆ 684810.0    ┆ Africa    ┆ 74.772          ┆ 6071.941411 │
│ Libya   ┆ 2007 ┆ 6.036914e6  ┆ Africa    ┆ 73.952          ┆ 12057.49928 │
│ Tunisia ┆ 2007 ┆ 1.0276158e7 ┆ Africa    ┆ 73.923          ┆ 7092.923025 │
└─────────┴──────┴─────────────┴───────────┴─────────────────┴─────────────┘

## rename() funksiyası

In [7]:
data.rename({"country": "olke", "year": "il"}).head()

shape: (5, 6)
┌─────────────┬──────┬─────────────┬───────────┬─────────────────┬────────────┐
│ olke        ┆ il   ┆ pop         ┆ continent ┆ life_expectancy ┆ gdp        │
│ ---         ┆ ---  ┆ ---         ┆ ---       ┆ ---             ┆ ---        │
│ str         ┆ i64  ┆ f64         ┆ str       ┆ f64             ┆ f64        │
╞═════════════╪══════╪═════════════╪═══════════╪═════════════════╪════════════╡
│ Afghanistan ┆ 1952 ┆ 8.425333e6  ┆ Asia      ┆ 28.801          ┆ 779.445314 │
│ Afghanistan ┆ 1957 ┆ 9.240934e6  ┆ Asia      ┆ 30.332          ┆ 820.85303  │
│ Afghanistan ┆ 1962 ┆ 1.0267083e7 ┆ Asia      ┆ 31.997          ┆ 853.10071  │
│ Afghanistan ┆ 1967 ┆ 1.1537966e7 ┆ Asia      ┆ 34.02           ┆ 836.197138 │
│ Afghanistan ┆ 1972 ┆ 1.307946e7  ┆ Asia      ┆ 36.088          ┆ 739.981106 │
└─────────────┴──────┴─────────────┴───────────┴─────────────────┴────────────┘

## select() funksiyası

In [8]:
data.select(["country", "year"]).head()

shape: (5, 2)
┌─────────────┬──────┐
│ country     ┆ year │
│ ---         ┆ ---  │
│ str         ┆ i64  │
╞═════════════╪══════╡
│ Afghanistan ┆ 1952 │
│ Afghanistan ┆ 1957 │
│ Afghanistan ┆ 1962 │
│ Afghanistan ┆ 1967 │
│ Afghanistan ┆ 1972 │
└─────────────┴──────┘

In [9]:
data.select([col for col in data.columns if col not in ["country", "year"]]).head()

shape: (5, 4)
┌─────────────┬───────────┬─────────────────┬────────────┐
│ pop         ┆ continent ┆ life_expectancy ┆ gdp        │
│ ---         ┆ ---       ┆ ---             ┆ ---        │
│ f64         ┆ str       ┆ f64             ┆ f64        │
╞═════════════╪═══════════╪═════════════════╪════════════╡
│ 8.425333e6  ┆ Asia      ┆ 28.801          ┆ 779.445314 │
│ 9.240934e6  ┆ Asia      ┆ 30.332          ┆ 820.85303  │
│ 1.0267083e7 ┆ Asia      ┆ 31.997          ┆ 853.10071  │
│ 1.1537966e7 ┆ Asia      ┆ 34.02           ┆ 836.197138 │
│ 1.307946e7  ┆ Asia      ┆ 36.088          ┆ 739.981106 │
└─────────────┴───────────┴─────────────────┴────────────┘

In [10]:
data.select(data.columns[2:6]).head()

shape: (5, 4)
┌─────────────┬───────────┬─────────────────┬────────────┐
│ pop         ┆ continent ┆ life_expectancy ┆ gdp        │
│ ---         ┆ ---       ┆ ---             ┆ ---        │
│ f64         ┆ str       ┆ f64             ┆ f64        │
╞═════════════╪═══════════╪═════════════════╪════════════╡
│ 8.425333e6  ┆ Asia      ┆ 28.801          ┆ 779.445314 │
│ 9.240934e6  ┆ Asia      ┆ 30.332          ┆ 820.85303  │
│ 1.0267083e7 ┆ Asia      ┆ 31.997          ┆ 853.10071  │
│ 1.1537966e7 ┆ Asia      ┆ 34.02           ┆ 836.197138 │
│ 1.307946e7  ┆ Asia      ┆ 36.088          ┆ 739.981106 │
└─────────────┴───────────┴─────────────────┴────────────┘

In [11]:
data.select(["year", "gdp"] + [c for c in data.columns if c not in ["year", "gdp"]]).head()

shape: (5, 6)
┌──────┬────────────┬─────────────┬─────────────┬───────────┬─────────────────┐
│ year ┆ gdp        ┆ country     ┆ pop         ┆ continent ┆ life_expectancy │
│ ---  ┆ ---        ┆ ---         ┆ ---         ┆ ---       ┆ ---             │
│ i64  ┆ f64        ┆ str         ┆ f64         ┆ str       ┆ f64             │
╞══════╪════════════╪═════════════╪═════════════╪═══════════╪═════════════════╡
│ 1952 ┆ 779.445314 ┆ Afghanistan ┆ 8.425333e6  ┆ Asia      ┆ 28.801          │
│ 1957 ┆ 820.85303  ┆ Afghanistan ┆ 9.240934e6  ┆ Asia      ┆ 30.332          │
│ 1962 ┆ 853.10071  ┆ Afghanistan ┆ 1.0267083e7 ┆ Asia      ┆ 31.997          │
│ 1967 ┆ 836.197138 ┆ Afghanistan ┆ 1.1537966e7 ┆ Asia      ┆ 34.02           │
│ 1972 ┆ 739.981106 ┆ Afghanistan ┆ 1.307946e7  ┆ Asia      ┆ 36.088          │
└──────┴────────────┴─────────────┴─────────────┴───────────┴─────────────────┘

In [12]:
data.select([c for c in data.columns if "_" in c]).head()

shape: (5, 1)
┌─────────────────┐
│ life_expectancy │
│ ---             │
│ f64             │
╞═════════════════╡
│ 28.801          │
│ 30.332          │
│ 31.997          │
│ 34.02           │
│ 36.088          │
└─────────────────┘

In [13]:
data.select([c for c in data.columns if c.startswith("co")]).head()

shape: (5, 2)
┌─────────────┬───────────┐
│ country     ┆ continent │
│ ---         ┆ ---       │
│ str         ┆ str       │
╞═════════════╪═══════════╡
│ Afghanistan ┆ Asia      │
│ Afghanistan ┆ Asia      │
│ Afghanistan ┆ Asia      │
│ Afghanistan ┆ Asia      │
│ Afghanistan ┆ Asia      │
└─────────────┴───────────┘

In [14]:
data.select([c for c in data.columns if c.endswith("p")]).head()

shape: (5, 2)
┌─────────────┬────────────┐
│ pop         ┆ gdp        │
│ ---         ┆ ---        │
│ f64         ┆ f64        │
╞═════════════╪════════════╡
│ 8.425333e6  ┆ 779.445314 │
│ 9.240934e6  ┆ 820.85303  │
│ 1.0267083e7 ┆ 853.10071  │
│ 1.1537966e7 ┆ 836.197138 │
│ 1.307946e7  ┆ 739.981106 │
└─────────────┴────────────┘

In [15]:
data.rename({"country": "olke", "year": "il"}).select(["olke", "il"]).head()

shape: (5, 2)
┌─────────────┬──────┐
│ olke        ┆ il   │
│ ---         ┆ ---  │
│ str         ┆ i64  │
╞═════════════╪══════╡
│ Afghanistan ┆ 1952 │
│ Afghanistan ┆ 1957 │
│ Afghanistan ┆ 1962 │
│ Afghanistan ┆ 1967 │
│ Afghanistan ┆ 1972 │
└─────────────┴──────┘

## filter() funksiyası

In [16]:
data.filter(pl.col("year") > 2001).head()

shape: (5, 6)
┌─────────────┬──────┬─────────────┬───────────┬─────────────────┬─────────────┐
│ country     ┆ year ┆ pop         ┆ continent ┆ life_expectancy ┆ gdp         │
│ ---         ┆ ---  ┆ ---         ┆ ---       ┆ ---             ┆ ---         │
│ str         ┆ i64  ┆ f64         ┆ str       ┆ f64             ┆ f64         │
╞═════════════╪══════╪═════════════╪═══════════╪═════════════════╪═════════════╡
│ Afghanistan ┆ 2002 ┆ 2.5268405e7 ┆ Asia      ┆ 42.129          ┆ 726.734055  │
│ Afghanistan ┆ 2007 ┆ 3.1889923e7 ┆ Asia      ┆ 43.828          ┆ 974.580338  │
│ Albania     ┆ 2002 ┆ 3.508512e6  ┆ Europe    ┆ 75.651          ┆ 4604.211737 │
│ Albania     ┆ 2007 ┆ 3.600523e6  ┆ Europe    ┆ 76.423          ┆ 5937.029526 │
│ Algeria     ┆ 2002 ┆ 3.1287142e7 ┆ Africa    ┆ 70.994          ┆ 5288.040382 │
└─────────────┴──────┴─────────────┴───────────┴─────────────────┴─────────────┘

In [17]:
data.filter(pl.col("continent") == "Europe").head()

shape: (5, 6)
┌─────────┬──────┬────────────┬───────────┬─────────────────┬─────────────┐
│ country ┆ year ┆ pop        ┆ continent ┆ life_expectancy ┆ gdp         │
│ ---     ┆ ---  ┆ ---        ┆ ---       ┆ ---             ┆ ---         │
│ str     ┆ i64  ┆ f64        ┆ str       ┆ f64             ┆ f64         │
╞═════════╪══════╪════════════╪═══════════╪═════════════════╪═════════════╡
│ Albania ┆ 1952 ┆ 1.282697e6 ┆ Europe    ┆ 55.23           ┆ 1601.056136 │
│ Albania ┆ 1957 ┆ 1.476505e6 ┆ Europe    ┆ 59.28           ┆ 1942.284244 │
│ Albania ┆ 1962 ┆ 1.728137e6 ┆ Europe    ┆ 64.82           ┆ 2312.888958 │
│ Albania ┆ 1967 ┆ 1.98406e6  ┆ Europe    ┆ 66.22           ┆ 2760.196931 │
│ Albania ┆ 1972 ┆ 2.263554e6 ┆ Europe    ┆ 67.69           ┆ 3313.422188 │
└─────────┴──────┴────────────┴───────────┴─────────────────┴─────────────┘

In [18]:
data.filter(
    (pl.col("year") > 2001) & 
    (pl.col("continent") == "Europe")
).select(["life_expectancy", "gdp"]).head()

shape: (5, 2)
┌─────────────────┬─────────────┐
│ life_expectancy ┆ gdp         │
│ ---             ┆ ---         │
│ f64             ┆ f64         │
╞═════════════════╪═════════════╡
│ 75.651          ┆ 4604.211737 │
│ 76.423          ┆ 5937.029526 │
│ 78.98           ┆ 32417.60769 │
│ 79.829          ┆ 36126.4927  │
│ 78.32           ┆ 30485.88375 │
└─────────────────┴─────────────┘

In [19]:
data.filter(
    pl.col("year").is_in([2001,2005,2007]) &
    ~pl.col("continent").is_in(["Europe", "Asia", "Africa"])
).head()

shape: (5, 6)
┌───────────┬──────┬──────────────┬───────────┬─────────────────┬─────────────┐
│ country   ┆ year ┆ pop          ┆ continent ┆ life_expectancy ┆ gdp         │
│ ---       ┆ ---  ┆ ---          ┆ ---       ┆ ---             ┆ ---         │
│ str       ┆ i64  ┆ f64          ┆ str       ┆ f64             ┆ f64         │
╞═══════════╪══════╪══════════════╪═══════════╪═════════════════╪═════════════╡
│ Argentina ┆ 2007 ┆ 4.0301927e7  ┆ Americas  ┆ 75.32           ┆ 12779.37964 │
│ Australia ┆ 2007 ┆ 2.0434176e7  ┆ Oceania   ┆ 81.235          ┆ 34435.36744 │
│ Bolivia   ┆ 2007 ┆ 9.119152e6   ┆ Americas  ┆ 65.554          ┆ 3822.137084 │
│ Brazil    ┆ 2007 ┆ 1.90010647e8 ┆ Americas  ┆ 72.39           ┆ 9065.800825 │
│ Canada    ┆ 2007 ┆ 3.3390141e7  ┆ Americas  ┆ 80.653          ┆ 36319.23501 │
└───────────┴──────┴──────────────┴───────────┴─────────────────┴─────────────┘

## slice()

In [20]:
data.slice(0, 2)

shape: (2, 6)
┌─────────────┬──────┬────────────┬───────────┬─────────────────┬────────────┐
│ country     ┆ year ┆ pop        ┆ continent ┆ life_expectancy ┆ gdp        │
│ ---         ┆ ---  ┆ ---        ┆ ---       ┆ ---             ┆ ---        │
│ str         ┆ i64  ┆ f64        ┆ str       ┆ f64             ┆ f64        │
╞═════════════╪══════╪════════════╪═══════════╪═════════════════╪════════════╡
│ Afghanistan ┆ 1952 ┆ 8.425333e6 ┆ Asia      ┆ 28.801          ┆ 779.445314 │
│ Afghanistan ┆ 1957 ┆ 9.240934e6 ┆ Asia      ┆ 30.332          ┆ 820.85303  │
└─────────────┴──────┴────────────┴───────────┴─────────────────┴────────────┘

In [21]:
data.sample(n=5)

shape: (5, 6)
┌────────────────────────┬──────┬────────────┬───────────┬─────────────────┬─────────────┐
│ country                ┆ year ┆ pop        ┆ continent ┆ life_expectancy ┆ gdp         │
│ ---                    ┆ ---  ┆ ---        ┆ ---       ┆ ---             ┆ ---         │
│ str                    ┆ i64  ┆ f64        ┆ str       ┆ f64             ┆ f64         │
╞════════════════════════╪══════╪════════════╪═══════════╪═════════════════╪═════════════╡
│ Israel                 ┆ 1972 ┆ 3.095893e6 ┆ Asia      ┆ 71.63           ┆ 12786.93223 │
│ Libya                  ┆ 1952 ┆ 1.019729e6 ┆ Africa    ┆ 42.723          ┆ 2387.54806  │
│ Italy                  ┆ 1952 ┆ 4.7666e7   ┆ Europe    ┆ 65.94           ┆ 4931.404155 │
│ Bosnia and Herzegovina ┆ 1957 ┆ 3.076e6    ┆ Europe    ┆ 58.45           ┆ 1353.989176 │
│ Chad                   ┆ 2002 ┆ 8.835739e6 ┆ Africa    ┆ 50.525          ┆ 1156.18186  │
└────────────────────────┴──────┴────────────┴───────────┴─────────────────┴─────────────┘

## mutate() funksiyası

In [22]:
data.with_columns([
    (pl.col("life_expectancy") / 100).alias("yeni_sutun")
]).head()

shape: (5, 7)
┌─────────────┬──────┬─────────────┬───────────┬─────────────────┬────────────┬────────────┐
│ country     ┆ year ┆ pop         ┆ continent ┆ life_expectancy ┆ gdp        ┆ yeni_sutun │
│ ---         ┆ ---  ┆ ---         ┆ ---       ┆ ---             ┆ ---        ┆ ---        │
│ str         ┆ i64  ┆ f64         ┆ str       ┆ f64             ┆ f64        ┆ f64        │
╞═════════════╪══════╪═════════════╪═══════════╪═════════════════╪════════════╪════════════╡
│ Afghanistan ┆ 1952 ┆ 8.425333e6  ┆ Asia      ┆ 28.801          ┆ 779.445314 ┆ 0.28801    │
│ Afghanistan ┆ 1957 ┆ 9.240934e6  ┆ Asia      ┆ 30.332          ┆ 820.85303  ┆ 0.30332    │
│ Afghanistan ┆ 1962 ┆ 1.0267083e7 ┆ Asia      ┆ 31.997          ┆ 853.10071  ┆ 0.31997    │
│ Afghanistan ┆ 1967 ┆ 1.1537966e7 ┆ Asia      ┆ 34.02           ┆ 836.197138 ┆ 0.3402     │
│ Afghanistan ┆ 1972 ┆ 1.307946e7  ┆ Asia      ┆ 36.088          ┆ 739.981106 ┆ 0.36088    │
└─────────────┴──────┴─────────────┴───────────┴─────────────────┴────────────┴────────────┘

In [23]:
data.with_columns([
    (pl.col("life_expectancy") / 100).round(2).alias("life_expectancy")
]).head()

shape: (5, 6)
┌─────────────┬──────┬─────────────┬───────────┬─────────────────┬────────────┐
│ country     ┆ year ┆ pop         ┆ continent ┆ life_expectancy ┆ gdp        │
│ ---         ┆ ---  ┆ ---         ┆ ---       ┆ ---             ┆ ---        │
│ str         ┆ i64  ┆ f64         ┆ str       ┆ f64             ┆ f64        │
╞═════════════╪══════╪═════════════╪═══════════╪═════════════════╪════════════╡
│ Afghanistan ┆ 1952 ┆ 8.425333e6  ┆ Asia      ┆ 0.29            ┆ 779.445314 │
│ Afghanistan ┆ 1957 ┆ 9.240934e6  ┆ Asia      ┆ 0.3             ┆ 820.85303  │
│ Afghanistan ┆ 1962 ┆ 1.0267083e7 ┆ Asia      ┆ 0.32            ┆ 853.10071  │
│ Afghanistan ┆ 1967 ┆ 1.1537966e7 ┆ Asia      ┆ 0.34            ┆ 836.197138 │
│ Afghanistan ┆ 1972 ┆ 1.307946e7  ┆ Asia      ┆ 0.36            ┆ 739.981106 │
└─────────────┴──────┴─────────────┴───────────┴─────────────────┴────────────┘

## summarise() funksiyası

In [24]:
data.select([
    pl.col("life_expectancy").max()
])

shape: (1, 1)
┌─────────────────┐
│ life_expectancy │
│ ---             │
│ f64             │
╞═════════════════╡
│ 82.603          │
└─────────────────┘

In [25]:
data.select([
    pl.col("life_expectancy").max().alias("max_life"),
    pl.col("life_expectancy").mean().alias("mean_life"),
    pl.col("life_expectancy").min().alias("min_life")
])

shape: (1, 3)
┌──────────┬───────────┬──────────┐
│ max_life ┆ mean_life ┆ min_life │
│ ---      ┆ ---       ┆ ---      │
│ f64      ┆ f64       ┆ f64      │
╞══════════╪═══════════╪══════════╡
│ 82.603   ┆ 59.474439 ┆ 23.599   │
└──────────┴───────────┴──────────┘

In [26]:
data.select([
    pl.col("life_expectancy").max().round(1).alias("max_life"),
    pl.col("life_expectancy").mean().round(1).alias("mean_life"),
    pl.col("life_expectancy").min().round(1).alias("min_life")
])

shape: (1, 3)
┌──────────┬───────────┬──────────┐
│ max_life ┆ mean_life ┆ min_life │
│ ---      ┆ ---       ┆ ---      │
│ f64      ┆ f64       ┆ f64      │
╞══════════╪═══════════╪══════════╡
│ 82.6     ┆ 59.5      ┆ 23.6     │
└──────────┴───────────┴──────────┘

## group_by() funksiyası

In [27]:
data.group_by("country").agg([
    pl.col("life_expectancy").max()
]).head()

shape: (5, 2)
┌───────────┬─────────────────┐
│ country   ┆ life_expectancy │
│ ---       ┆ ---             │
│ str       ┆ f64             │
╞═══════════╪═════════════════╡
│ Togo      ┆ 58.42           │
│ Guatemala ┆ 70.259          │
│ Hungary   ┆ 73.338          │
│ Spain     ┆ 80.941          │
│ Bulgaria  ┆ 73.005          │
└───────────┴─────────────────┘

In [28]:
data.group_by("country").agg([
    pl.col("life_expectancy").max().alias("max_life"),
    pl.col("life_expectancy").mean().alias("mean_life"),
    pl.col("life_expectancy").min().alias("min_life")
]).head()

shape: (5, 4)
┌──────────────┬──────────┬───────────┬──────────┐
│ country      ┆ max_life ┆ mean_life ┆ min_life │
│ ---          ┆ ---      ┆ ---       ┆ ---      │
│ str          ┆ f64      ┆ f64       ┆ f64      │
╞══════════════╪══════════╪═══════════╪══════════╡
│ Namibia      ┆ 61.999   ┆ 53.491333 ┆ 41.725   │
│ Cuba         ┆ 78.273   ┆ 71.045083 ┆ 59.421   │
│ Belgium      ┆ 79.441   ┆ 73.64175  ┆ 68.0     │
│ Reunion      ┆ 76.442   ┆ 66.64425  ┆ 52.724   │
│ Sierra Leone ┆ 42.568   ┆ 36.769167 ┆ 30.331   │
└──────────────┴──────────┴───────────┴──────────┘

In [29]:
data.group_by("country").agg([
    pl.col("life_expectancy").max().alias("max_life_ex")
]).sort("max_life_ex", descending=True).head()

shape: (5, 2)
┌─────────────────┬─────────────┐
│ country         ┆ max_life_ex │
│ ---             ┆ ---         │
│ str             ┆ f64         │
╞═════════════════╪═════════════╡
│ Japan           ┆ 82.603      │
│ Hong Kong China ┆ 82.208      │
│ Iceland         ┆ 81.757      │
│ Switzerland     ┆ 81.701      │
│ Australia       ┆ 81.235      │
└─────────────────┴─────────────┘

In [30]:
data.group_by(["continent", "country"]).agg([
    pl.col("life_expectancy").max().alias("max_life_ex")
]).sort(["continent", "max_life_ex"], descending=[False, True]).head()

shape: (5, 2)
┌───────────┬─────────────┐
│ continent ┆ max_life_ex │
│ ---       ┆ ---         │
│ str       ┆ f64         │
╞═══════════╪═════════════╡
│ Africa    ┆ 76.442      │
│ Americas  ┆ 80.653      │
│ Asia      ┆ 82.603      │
│ Europe    ┆ 81.757      │
│ Oceania   ┆ 81.235      │
└───────────┴─────────────┘

## count() funksiyası

In [31]:
data.group_by("continent").agg(pl.count())

C:\Users\tarlan.jabiyev\AppData\Local\Temp\ipykernel_54760\3300329444.py:1: DeprecationWarning: `pl.count()` is deprecated. Please use `pl.len()` instead.
(Deprecated in version 0.20.5)
  data.group_by("continent").agg(pl.count())

shape: (5, 2)
┌───────────┬───────┐
│ continent ┆ count │
│ ---       ┆ ---   │
│ str       ┆ u32   │
╞═══════════╪═══════╡
│ Americas  ┆ 300   │
│ Oceania   ┆ 24    │
│ Europe    ┆ 360   │
│ Asia      ┆ 396   │
│ Africa    ┆ 624   │
└───────────┴───────┘

In [32]:
data.group_by(["country", "continent"]).agg(pl.count()).head()

C:\Users\tarlan.jabiyev\AppData\Local\Temp\ipykernel_54760\498986462.py:1: DeprecationWarning: `pl.count()` is deprecated. Please use `pl.len()` instead.
(Deprecated in version 0.20.5)
  data.group_by(["country", "continent"]).agg(pl.count()).head()

shape: (5, 3)
┌──────────┬───────────┬───────┐
│ country  ┆ continent ┆ count │
│ ---      ┆ ---       ┆ ---   │
│ str      ┆ str       ┆ u32   │
╞══════════╪═══════════╪═══════╡
│ Cuba     ┆ Americas  ┆ 12    │
│ Japan    ┆ Asia      ┆ 12    │
│ Pakistan ┆ Asia      ┆ 12    │
│ Nepal    ┆ Asia      ┆ 12    │
│ Niger    ┆ Africa    ┆ 12    │
└──────────┴───────────┴───────┘

## “join” funksiyaları

In [33]:
band_members = pl.DataFrame({"name": ["Mick", "John", "Paul"], "band": ["Stones", "Beatles", "Beatles"]})
band_instruments = pl.DataFrame({"name": ["John", "Paul", "George"], "plays": ["guitar", "bass", "guitar"]})
band_instruments2 = pl.DataFrame({"artist": ["John", "Paul", "Ringo"], "instrument": ["guitar", "bass", "drums"]})

In [34]:
band_members.join(band_instruments, on="name", how="inner")

shape: (2, 3)
┌──────┬─────────┬────────┐
│ name ┆ band    ┆ plays  │
│ ---  ┆ ---     ┆ ---    │
│ str  ┆ str     ┆ str    │
╞══════╪═════════╪════════╡
│ John ┆ Beatles ┆ guitar │
│ Paul ┆ Beatles ┆ bass   │
└──────┴─────────┴────────┘

In [35]:
band_members.join(band_instruments, on="name", how="left")

shape: (3, 3)
┌──────┬─────────┬────────┐
│ name ┆ band    ┆ plays  │
│ ---  ┆ ---     ┆ ---    │
│ str  ┆ str     ┆ str    │
╞══════╪═════════╪════════╡
│ Mick ┆ Stones  ┆ null   │
│ John ┆ Beatles ┆ guitar │
│ Paul ┆ Beatles ┆ bass   │
└──────┴─────────┴────────┘

In [36]:
band_members.join(band_instruments, on="name", how="right")

shape: (3, 3)
┌─────────┬────────┬────────┐
│ band    ┆ name   ┆ plays  │
│ ---     ┆ ---    ┆ ---    │
│ str     ┆ str    ┆ str    │
╞═════════╪════════╪════════╡
│ Beatles ┆ John   ┆ guitar │
│ Beatles ┆ Paul   ┆ bass   │
│ null    ┆ George ┆ guitar │
└─────────┴────────┴────────┘

In [37]:
band_members.join(band_instruments, on="name", how="outer")

C:\Users\tarlan.jabiyev\AppData\Local\Temp\ipykernel_54760\2299610304.py:1: DeprecationWarning: use of `how='outer'` should be replaced with `how='full'`.
(Deprecated in version 0.20.29)
  band_members.join(band_instruments, on="name", how="outer")

shape: (4, 4)
┌──────┬─────────┬────────────┬────────┐
│ name ┆ band    ┆ name_right ┆ plays  │
│ ---  ┆ ---     ┆ ---        ┆ ---    │
│ str  ┆ str     ┆ str        ┆ str    │
╞══════╪═════════╪════════════╪════════╡
│ John ┆ Beatles ┆ John       ┆ guitar │
│ Paul ┆ Beatles ┆ Paul       ┆ bass   │
│ null ┆ null    ┆ George     ┆ guitar │
│ Mick ┆ Stones  ┆ null       ┆ null   │
└──────┴─────────┴────────────┴────────┘

In [38]:
band_members.join(band_instruments2, left_on="name", right_on="artist", how="left")

shape: (3, 3)
┌──────┬─────────┬────────────┐
│ name ┆ band    ┆ instrument │
│ ---  ┆ ---     ┆ ---        │
│ str  ┆ str     ┆ str        │
╞══════╪═════════╪════════════╡
│ Mick ┆ Stones  ┆ null       │
│ John ┆ Beatles ┆ guitar     │
│ Paul ┆ Beatles ┆ bass       │
└──────┴─────────┴────────────┘

In [39]:
band_members.join(band_instruments2, left_on="name", right_on="artist", how="left")

shape: (3, 3)
┌──────┬─────────┬────────────┐
│ name ┆ band    ┆ instrument │
│ ---  ┆ ---     ┆ ---        │
│ str  ┆ str     ┆ str        │
╞══════╪═════════╪════════════╡
│ Mick ┆ Stones  ┆ null       │
│ John ┆ Beatles ┆ guitar     │
│ Paul ┆ Beatles ┆ bass       │
└──────┴─────────┴────────────┘