## Tezlik cədvəlləri (Frequency Tables)

In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv("demographics.csv")

In [4]:
# "educ"(education level) dəyişəni üçün cədvəl quracağıq 
# mütləq say (absolute (counts)), kumulyativ mütləq say (cumulative absolute), 
# nisbət/faiz (relative) və kumulyativ nisbət/faiz (cumulatitve relative)

educ_counts = data['educ'].value_counts(dropna=False)
educ_counts

educ
High school degree              132
Did not complete high school    125
Some college                    113
College degree                  113
Post-undergraduate degree        27
Name: count, dtype: int64

In [9]:
print(data[(data['educ'] == "College degree")].shape[0])
print(data[(data['educ'] == "Did not complete high school")].shape[0])
print(data[(data['educ'] == "High school degree")].shape[0])
print(data[(data['educ'] == "Post-undergraduate degree")].shape[0])
print(data[(data['educ'] == "Some college")].shape[0])

113
125
132
27
113

In [7]:
# kumulyativ sayların hesablanması

cumulative_counts = educ_counts.cumsum()
cumulative_counts

educ
High school degree              132
Did not complete high school    257
Some college                    370
College degree                  483
Post-undergraduate degree       510
Name: count, dtype: int64

In [10]:
# nisbət/faiz (relative) hesablanması

relative = data.educ.value_counts(normalize=True)
relative

educ
High school degree              0.258824
Did not complete high school    0.245098
Some college                    0.221569
College degree                  0.221569
Post-undergraduate degree       0.052941
Name: count, dtype: float64

In [11]:
# kumulyativ nisbət/faiz (relative) hesablanması

cumulative_relative = cumulative_counts / len(data)
cumulative_relative

educ
High school degree              0.258824
Did not complete high school    0.503922
Some college                    0.725490
College degree                  0.947059
Post-undergraduate degree       1.000000
Name: count, dtype: float64

In [12]:
# yekun cədvəlin yaradılması

educ_table = pd.DataFrame({
    "Freq": educ_counts,
    "Cumul": cumulative_counts,
    "Relative": relative,
    "CumFreq": cumulative_relative
})

educ_table

                              Freq  Cumul  Relative   CumFreq
educ
High school degree             132    132  0.258824  0.258824
Did not complete high school   125    257  0.245098  0.503922
Some college                   113    370  0.221569  0.725490
College degree                 113    483  0.221569  0.947059
Post-undergraduate degree       27    510  0.052941  1.000000

## Çarpaz cədvəllər qurulması (Cross Tables)

In [13]:
cross_tab = pd.crosstab(data['gender'], data['carcat'])
cross_tab

carcat  Economy  Luxury  Standard
gender
Female       67     103        80
Male         80      87        93