## if, else, else if

In [1]:
if (2 > 1) {
  print("2 böyükdür 1dən")
}

[1] "2 böyükdür 1dən"

In [2]:
if (2 > 1 & 1 == 1) {
  print(TRUE)
}

[1] TRUE

In [3]:
if (2 > 1 & 1 == 0) {
  print(TRUE)
}

In [4]:
if (2 > 1 | 1 == 0) {
  print(TRUE)
}

[1] TRUE

In [5]:
if (2 > 1 & 1 == 0) {
  print(TRUE)
} else {
  print(FALSE)
}

[1] FALSE

In [6]:
x_1 <- "X"
x_2 <- "x"

if (x_1 == x_2) {
  print("x_1 və x_2 bərabərdir")
} else {
  print("x_1 və x_2 bərabər deyil")
}

[1] "x_1 və x_2 bərabər deyil"

In [7]:
x <- 7

if (x >= 9) {
  print("x 9dan böyükdür və ya 9a bərabərdir")
} else if (x > 5) {
  print("x 5dən böyükdür, ancaq 9dan kiçikdir")
} else {
  print("x 5dən kiçikdir")
}

[1] "x 5dən böyükdür, ancaq 9dan kiçikdir"

In [8]:
söz_1 <- "söz_1"
söz_2 <- "söz_2."

if (nchar(söz_1) == nchar(söz_2)) {
  print("uzunluqlar bərabərdir")
} else if (nchar(söz_1) < nchar(söz_2)) {
  print("söz_2 daha uzundur")
} else {
  print("söz_1 daha uzundur")
}

[1] "söz_2 daha uzundur"

## while loop

In [9]:
# while (TRUE) {
#   print("stop")
# }

In [10]:
z <- 1

while (z < 12) {
  print(z)
  z <- z + 1
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10
[1] 11

In [11]:
z <- 1

while (z < 12) {
  print(z)
  z <- z + 1
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10
[1] 11

## for loop

In [12]:
for (i in 0:8) {
  print(i)
}

[1] 0
[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8

In [13]:
for (i in 5:8) {
  print(i)
}

[1] 5
[1] 6
[1] 7
[1] 8

In [14]:
for (i in seq(1, 5, by = 2)) {
  print(i)
}

[1] 1
[1] 3
[1] 5

In [15]:
x <- c("a", "b", "c", "d", "e")

for (x_item in x) {
  print(x_item)
}

[1] "a"
[1] "b"
[1] "c"
[1] "d"
[1] "e"

In [16]:
list <- c(2, 3, 5, 7, 11, 13)

for (gezən in c(2, 5)) {  
  print(list[gezən])
}

[1] 3
[1] 11

In [17]:
for (i in 1:4) {
  for (v in c("a", "b", "c", "d", "e")) {
    cat(i, v, "\n")
  }
}

1 a
1 b
1 c
1 d
1 e
2 a
2 b
2 c
2 d
2 e
3 a
3 b
3 c
3 d
3 e
4 a
4 b
4 c
4 d
4 e

In [18]:
X <- c("Data", "Science", "Python", "R", "Alas", "Academy")

for (i in X) {
  print(i)
  for (j in unlist(strsplit(i, ""))) {
    print(j)
  }
}

[1] "Data"
[1] "D"
[1] "a"
[1] "t"
[1] "a"
[1] "Science"
[1] "S"
[1] "c"
[1] "i"
[1] "e"
[1] "n"
[1] "c"
[1] "e"
[1] "Python"
[1] "P"
[1] "y"
[1] "t"
[1] "h"
[1] "o"
[1] "n"
[1] "R"
[1] "R"
[1] "Alas"
[1] "A"
[1] "l"
[1] "a"
[1] "s"
[1] "Academy"
[1] "A"
[1] "c"
[1] "a"
[1] "d"
[1] "e"
[1] "m"
[1] "y"

In [19]:
X <- c("Data", "Science", "Python", "R", "Alas", "Academy")

for (i in 1:length(X)) { #seq_along(X)
  print(paste(i, X[i]))
}

[1] "1 Data"
[1] "2 Science"
[1] "3 Python"
[1] "4 R"
[1] "5 Alas"
[1] "6 Academy"

In [20]:
X <- c("Data", "Science", "Python", "R", "Alas", "Academy")

for (i in 1:length(X)) { #seq_along(X)
  if (X[i] == "Python") {
    print(paste("I found Python! Its index is", i))
  }
}

[1] "I found Python! Its index is 3"

In [21]:
vector <- c()

for (i in seq_along(X)) { #1:length(X)
  output <- paste(i, X[i])
  vector <- c(vector, output)
}

print(vector)

[1] "1 Data"    "2 Science" "3 Python"  "4 R"       "5 Alas"    "6 Academy"

## break, next, pass

In [22]:
i <- 0

while (TRUE) {
  print(i)
  i <- i + 1
  if (i == 8) {
    break
  }
}

[1] 0
[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7

In [23]:
i <- 0

while (i <= 6) {
  i <- i + 1
  if (i == 4) {
    next
  }
  print(i)
}

[1] 1
[1] 2
[1] 3
[1] 5
[1] 6
[1] 7

In [24]:
i <- 0
while (i <= 6) {
  i <- i + 1
  if (i == 3) {
    #pass (R-da ekvivalent yoxdur, sadəcə boş buraxılır)
  } else {
    print(i)
  }
}

[1] 1
[1] 2
[1] 4
[1] 5
[1] 6
[1] 7

In [25]:
for (i in 0:9) {
  if (i == 5) {
    break
  }
  print(i)
}

[1] 0
[1] 1
[1] 2
[1] 3
[1] 4

In [26]:
for (i in 0:9) {
  if (i %% 2 == 0) {
    next
  }
  print(i)
}

[1] 1
[1] 3
[1] 5
[1] 7
[1] 9

In [27]:
for (i in 0:4) {
  if (i == 3) {
    #pass 
  } else {
    print(i)
  }
}

[1] 0
[1] 1
[1] 2
[1] 4

## İç-içə (nested) dövrlər

In [28]:
vector <- c()

for (i in 1:5) {
  for (v in c("a", "b", "c", "d", "e")) {
    output <- paste(i, v)
    vector <- c(vector, output)
  }
}

print(vector)

 [1] "1 a" "1 b" "1 c" "1 d" "1 e" "2 a" "2 b" "2 c" "2 d" "2 e" "3 a" "3 b"
[13] "3 c" "3 d" "3 e" "4 a" "4 b" "4 c" "4 d" "4 e" "5 a" "5 b" "5 c" "5 d"
[25] "5 e"

In [29]:
df <- data.frame(matrix(1:24,6,4))

rownames(df) <- c('r1','r2','r3','r4','r5','r6')
colnames(df) <- c('c1','c2','c3','c4')

df

   c1 c2 c3 c4
r1 1   7 13 19
r2 2   8 14 20
r3 3   9 15 21
r4 4  10 16 22
r5 5  11 17 23
r6 6  12 18 24

In [30]:
mean(df$c1)
mean(df$c2)
mean(df$c3)
mean(df$c4)

[1] 3.5

[1] 9.5

[1] 15.5

[1] 21.5

In [31]:
for (col in colnames(df)) {
  print(mean(df[[col]]))
}

[1] 3.5
[1] 9.5
[1] 15.5
[1] 21.5

In [32]:
for (col in colnames(df)) {
  print(paste(col, mean(df[[col]])))
}

[1] "c1 3.5"
[1] "c2 9.5"
[1] "c3 15.5"
[1] "c4 21.5"

In [33]:
for (r in 1:nrow(df)) {
  if (df[r, 1] > 0) {
    print(paste(r, ".sətir:", df[r, 1]))
  }
}

[1] "1 .sətir: 1"
[1] "2 .sətir: 2"
[1] "3 .sətir: 3"
[1] "4 .sətir: 4"
[1] "5 .sətir: 5"
[1] "6 .sətir: 6"

In [34]:
for (c in 1:ncol(df)) {
  for (r in 1:nrow(df)) {
    if (df[r, c] > 0) {
      print(paste(c - 1, ".sütun və", r - 1, ".sətir:", df[r, c]))
    }
  }
}

[1] "0 .sütun və 0 .sətir: 1"
[1] "0 .sütun və 1 .sətir: 2"
[1] "0 .sütun və 2 .sətir: 3"
[1] "0 .sütun və 3 .sətir: 4"
[1] "0 .sütun və 4 .sətir: 5"
[1] "0 .sütun və 5 .sətir: 6"
[1] "1 .sütun və 0 .sətir: 7"
[1] "1 .sütun və 1 .sətir: 8"
[1] "1 .sütun və 2 .sətir: 9"
[1] "1 .sütun və 3 .sətir: 10"
[1] "1 .sütun və 4 .sətir: 11"
[1] "1 .sütun və 5 .sətir: 12"
[1] "2 .sütun və 0 .sətir: 13"
[1] "2 .sütun və 1 .sətir: 14"
[1] "2 .sütun və 2 .sətir: 15"
[1] "2 .sütun və 3 .sətir: 16"
[1] "2 .sütun və 4 .sətir: 17"
[1] "2 .sütun və 5 .sətir: 18"
[1] "3 .sütun və 0 .sətir: 19"
[1] "3 .sütun və 1 .sətir: 20"
[1] "3 .sütun və 2 .sətir: 21"
[1] "3 .sütun və 3 .sətir: 22"
[1] "3 .sütun və 4 .sətir: 23"
[1] "3 .sütun və 5 .sətir: 24"