## if, else, elif

In [1]:
if 2 > 1:
    print("2 böyükdür 1dən")

2 böyükdür 1dən

In [2]:
if 2 > 1 and 1 == 1:
    print(True)

True

In [3]:
if 2 > 1 & 1 == 0:
    print(True)

In [4]:
if 2 > 1 or 1 == 0:
    print(True)

True

In [5]:
if 2 > 1 & 1 == 0:
    print(True)
else:
    print(False)

False

In [6]:
x_1 = 'X'
x_2 = 'x'

if x_1 == x_2:
    print("x_1 və x_2 bərabərdir")
else:
    print("x_1 və x_2 bərabər deyil")

x_1 və x_2 bərabər deyil

In [7]:
x = 7

if x >= 9:
    print("x 9dan böyükdür və ya 9a bərabərdir")
elif x > 5:
    print("x 5dən böyükdür, ancaq 9dan kiçikdir")
else:
    print("x 5dən kiçikdir")

x 5dən böyükdür, ancaq 9dan kiçikdir

In [8]:
söz_1 = "söz_1"
söz_2 = "söz_2."

if len(söz_1) == len(söz_2):
    print("uzunluqlar bərabərdir")
elif len(söz_1) < len(söz_2):
    print("söz_2 daha uzundur")
else:
    print("söz_1 daha uzundur")

söz_2 daha uzundur

## while loop

In [9]:
# while(2 > 1){
#   print("stop")
# }

In [10]:
z = 1

while z < 12:
    print(z)
    z = z + 1

1
2
3
4
5
6
7
8
9
10
11

In [11]:
z = 1

while z < 12:
    print(z)
    z += 1

1
2
3
4
5
6
7
8
9
10
11

## for loop

In [12]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [13]:
for i in range(5,9):
    print(i)

5
6
7
8

In [14]:
for i in range(1,6,2):
    print(i)

1
3
5

In [15]:
x = ['a','b','c','d','e']

for x in x:
    print(x)

a
b
c
d
e

In [16]:
list = [2, 3, 5, 7, 11, 13]

for gəzən in [1,4]:
    print(list[gəzən])

3
11

In [17]:
for i in range(1, 5): 
    for v in ["a", "b", "c", "d", "e"]:
        print(f"{i} {v}")

1 a
1 b
1 c
1 d
1 e
2 a
2 b
2 c
2 d
2 e
3 a
3 b
3 c
3 d
3 e
4 a
4 b
4 c
4 d
4 e

In [18]:
X = ['Data','Science','Python','R','Alas','Academy']

for i in X: 
    #print('')
    print(i)
    for j in i:
        print(j)

Data
D
a
t
a
Science
S
c
i
e
n
c
e
Python
P
y
t
h
o
n
R
R
Alas
A
l
a
s
Academy
A
c
a
d
e
m
y

In [19]:
for i,j in enumerate(X):
    print(i, j)

0 Data
1 Science
2 Python
3 R
4 Alas
5 Academy

In [20]:
for i,j in enumerate(X):
    if j == 'Python':
        print(f"I found Python! Its index is {i}")

I found Python! Its index is 2

In [21]:
list = []

for i,j in enumerate(X):
    output = f"{i} {j}"
    list.append(output)

print(list)

['0 Data', '1 Science', '2 Python', '3 R', '4 Alas', '5 Academy']

## break, continue, pass

In [22]:
i = 0

while True:
    print(i)
    i += 1
    if i == 8:
        break

0
1
2
3
4
5
6
7

In [23]:
i = 0

while i <= 6:
    i += 1
    if i == 4:
        continue
    print(i)

1
2
3
5
6
7

In [24]:
i = 0

while i <= 6:
    i += 1
    if i == 3:
        pass
    else:
        print(i)

1
2
4
5
6
7

In [25]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [26]:
for i in range(10):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9

In [27]:
for i in range(5):
    if i == 3:
        pass 
    else:
        print(i)

0
1
2
4

## İç-içə (nested) dövrlər

In [28]:
list = []

for i in range(1, 6): 
    for v in ['a', 'b', 'c', 'd', 'e']:
        output = f"{i} {v}"  
        list.append(output)

print(list)

['1 a', '1 b', '1 c', '1 d', '1 e', '2 a', '2 b', '2 c', '2 d', '2 e', '3 a', '3 b', '3 c', '3 d', '3 e', '4 a', '4 b', '4 c', '4 d', '4 e', '5 a', '5 b', '5 c', '5 d', '5 e']

In [29]:
import numpy as np
import pandas as pd

array = np.arange(24).reshape(6,4)
df = pd.DataFrame(array,
                  index = ['r1','r2','r3','r4','r5','r6'],
                  columns = ['c1','c2','c3','c4'])
df

    c1  c2  c3  c4
r1   0   1   2   3
r2   4   5   6   7
r3   8   9  10  11
r4  12  13  14  15
r5  16  17  18  19
r6  20  21  22  23

In [30]:
print(df.c1.mean())
print(df.c2.mean())
print(df.c3.mean())
print(df.c4.mean())

10.0
11.0
12.0
13.0

In [31]:
for col in df.columns:
    print(df[col].mean())

10.0
11.0
12.0
13.0

In [32]:
for col in df.columns:
    print(col, df[col].mean())

c1 10.0
c2 11.0
c3 12.0
c4 13.0

In [33]:
for r in range(len(df)): 
    if df.iloc[r, 0] > 0:  
        print(f"{r}.sətir: {df.iloc[r, 0]}")

1.sətir: 4
2.sətir: 8
3.sətir: 12
4.sətir: 16
5.sətir: 20

In [34]:
for c in range(df.shape[1]): 
    for r in range(df.shape[0]): 
        if df.iloc[r, c] > 0: 
            print(f"{c}.sütun və {r}.sətir: {df.iloc[r, c]}")

0.sütun və 1.sətir: 4
0.sütun və 2.sətir: 8
0.sütun və 3.sətir: 12
0.sütun və 4.sətir: 16
0.sütun və 5.sətir: 20
1.sütun və 0.sətir: 1
1.sütun və 1.sətir: 5
1.sütun və 2.sətir: 9
1.sütun və 3.sətir: 13
1.sütun və 4.sətir: 17
1.sütun və 5.sətir: 21
2.sütun və 0.sətir: 2
2.sütun və 1.sətir: 6
2.sütun və 2.sətir: 10
2.sütun və 3.sətir: 14
2.sütun və 4.sətir: 18
2.sütun və 5.sətir: 22
3.sütun və 0.sətir: 3
3.sütun və 1.sətir: 7
3.sütun və 2.sətir: 11
3.sütun və 3.sətir: 15
3.sütun və 4.sətir: 19
3.sütun və 5.sətir: 23

In [36]:
x = 1
while True:
    if x % 5 == 0:
        print(x)
        break
    x += 1

5