In [16]:
import pandas as pd

## " ".join()

In [15]:
x = ["salam", "əziz", "izləyicilər", "dostlar"]

" ".join(x)

'salam əziz izləyicilər dostlar'

## Series.str.len()

In [21]:
x_series = pd.Series(x)
x_series.str.len()

0     5
1     4
2    11
3     7
dtype: int64

## str.count()

In [25]:
y = " ".join(x)
print(y)
y.count("a")

salam əziz izləyicilər dostlar

3

## Slicing strings

In [27]:
start_3 = y[:3]
print(start_3)

last_3 = y[-3:]
print(last_3)

sal
lar

## str.replace()

In [28]:
y.replace(" ", "_")

'salam_əziz_izləyicilər_dostlar'

In [29]:
y.replace(" ", "")

'salaməzizizləyicilərdostlar'

## Series.str.contains()

In [30]:
x_series.str.contains("a")

0     True
1    False
2    False
3     True
dtype: bool

In [31]:
x_series[x_series.str.contains("a")]

0      salam
3    dostlar
dtype: object

## Series.str.extract()

In [32]:
x_series.str.extract("(la)")

     0
0   la
1  NaN
2  NaN
3   la

## str.upper() / str.lower() / str.title()

In [34]:
x = pd.Series(["salam", "Dost", "Əziz"])

print(x.str.upper())
print(x.str.lower())
print(x.str.title())

0    SALAM
1     DOST
2     ƏZIZ
dtype: object
0    salam
1     dost
2     əziz
dtype: object
0    Salam
1     Dost
2     Əziz
dtype: object

## str.startswith() / str.endswith()

In [35]:
x = pd.Series(["alma", "armud", "alça", "banan"])

print(x.str.startswith("al"))
print(x.str.endswith("an"))

0     True
1    False
2     True
3    False
dtype: bool
0    False
1    False
2    False
3     True
dtype: bool

## str.findall()

In [36]:
x = pd.Series(["abc123", "456def", "7g8h9"])

print(x.str.findall(r"\d"))

0    [1, 2, 3]
1    [4, 5, 6]
2    [7, 8, 9]
dtype: object

## str.pad()

In [37]:
x = pd.Series(["42", "7", "1234"])

print(x.str.pad(width=4, fillchar="0"))

0    0042
1    0007
2    1234
dtype: object

## str.strip() / str.lstrip() / str.rstrip()

In [39]:
x = pd.Series(["  salam ", "\tpython\n", "   "])

print(x.str.strip())  # both sides
print(x.str.lstrip()) # left only
print(x.str.rstrip()) # right only

0     salam
1    python
2
dtype: object
0      salam
1    python\n
2
dtype: object
0       salam
1    \tpython
2
dtype: object

## str.slice()

In [40]:
x = pd.Series(["HelloWorld", "DataScience", "PandasPython"])

print(x.str.slice(1, 5))

0    ello
1    ataS
2    anda
dtype: object